@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
    --color-grey-1: #363538;
    --accent-color: rgb(255, 118, 63);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    color: var(--color-grey-1);
}



.bold{
    color: #ff763f;
    font-weight: bolder;
    font-size: 30px; 
    margin: auto;
    text-align: center;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;

}
.title{
   font-weight: bold;
   font-size: 45px;
   text-align: center;
   letter-spacing: 2px;
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(78, 72, 72);


}
p{
   margin-top: 0;
}
#p_content{
   display: inline-block;
   width: 85%;
   /* margin: auto; */
   margin-left: 70px;
   /* text-align: center; */
   letter-spacing: 3px;
   line-height: 25px;
   font-weight: 540;
   color: #404040;
   font-family: 'Open Sans', sans-serif;
}
.image_content img{
   width: 85%;
   margin-left: 70px;
   margin-top: 40px;
}

.second_bold_title{
   margin-top: 80px;
}