
.header {
    padding: 1rem 10rem;
    height: 10rem;
    background-color: azure;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    height: 4.8rem;
}

.navbar-list {
    display: flex;
    gap: 4rem;
    list-style: none;
    margin-left: auto;
    align-items: center;
}

.navbar-link:link,
.navbar-link:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 500;
    color: black;
    transition: all 0.3s;
}
.navbar-link:hover,
.navbar-link:active {
    color: #ff763f;
}

.mobile-navbar-icon {
    width: 4rem;
    height: 4rem;
    color: black;
}
.mobile-navbar-btn {
    display: none;
    /* background:transparent; */
    cursor: pointer;
}
.mobile-navbar-icon[name="close-circle-outline"] {
    display: none;
}
/* --------------- */
.navbar-link-a:link,
.navbar-link-a:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 540;
    color: black;
    transition: all 0.3s;
    border: 3px solid #ff763f;
    padding: 10px;
    color: #ff763f;
    border-radius: 10px;
    margin-bottom: 5px;
}
.navbar-link-a:hover,
.navbar-link-a:active {
    color: green;
}