#con1 {
    width: 75%;
    height: 500px;
    margin: auto;
    margin-top: 40px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 500px);
    gap: 50px;
}

h1 {
    /* text-align: center; */
    font-family: 'Open Sans', sans-serif;
    color: #4f4e53;
    font-size: 42px;
    line-height: 48px;
}

h3 {
    /* text-align: center; */
    font-family: 'Open Sans', sans-serif;
    color: #4f4e53;
    font-size: 30px;
    font-weight: 200;
    line-height: 1.5em;
}

button {
    width: 280px;
    height: 60px;
    color: white;
    background-color: #5da151;
    border-radius: 5px;
    border: 0px;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
}

button:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#con1>div>img {
    width: 75%;
    display: block;
    margin: auto;
    margin-top: 50px;
}

#con2 {
    margin: auto;
    margin-top: 100px;
    width: 75%;
    height: 400px;
}

#inner1 {
    width: 100%;
    /* border:1px solid; */
    height: 250px;
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 250px);
    gap: 20px;
}

#inner1>div>h4 {
    text-align: center;
    margin-top: 15px;
    font-size: 25px;
    color: #4f4e53;
    font-family: 'Open Sans', sans-serif;
}

#inner1>div>h6 {
    text-align: center;
    margin: auto;
    margin-top: -20px;
    font-weight: 400;
    font-size: 20px;
    color: #4f4e53;
    font-family: 'Open Sans', sans-serif;
}

#inner1>div>img {
    display: block;
    margin: auto;
    width: 30%;
}

#con3 {
    margin-top: 100px;
    width: 100%;
    height: 400px;
    border: 1px solid white;
    background-color: #f8f8f8;
}

 .h1-2 ,.h1-3{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #4f4e53;
    font-size: 42px;
    margin-top: 100px;
}

.h3-2, .h3-3 {
    width: 40%;
    margin: auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #4f4e53;
    font-size: 27px;
    font-weight: 400;
    line-height: 40px;
}
.h3-3{
    width:60%;
}

#inner2{
    width: 75%;
    height: 420px;
    margin: auto;
    margin-top: 70px;
    display: grid;
    grid-template-columns: 600px 500px;
    grid-template-rows: repeat(1, 100%);
    gap: 40px;
}


#con5{
    width: 75%;
    height: 420px;
    margin: auto;
    margin-top: 70px;
    display: grid;
    grid-template-columns: 500px 600px;
    grid-template-rows: repeat(1, 100%);
    gap: 40px;
}


.bimg , .bimg2{
    width:100%;
    display: block;
    margin: auto;
    margin-top:100px;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.h4{
    font-size:28px;
    color: #4f4e53;
    font-family: 'Open Sans', sans-serif;
    line-height:0px;

}
.h6{
    font-size:20px;
    width:90%;
    font-family: 'Open Sans', sans-serif;
    color: #4f4e53;
    font-weight:400;
    line-height:30px;
    margin-top: -20px;
    margin-bottom:0px;
}
.h6a{
    margin-top:80px;
    margin-left:30px;
    /* position: absolute; */
}
.h6b{
    margin-top: 80px;
    text-align: center;
    width: 100%;
    font-size:25px;
}

#inner3{
    width: 75%;
    height: 450px;
    margin: auto;
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 100%);
    gap: 40px;
}

.in3img, .in4img{
    width:80%;
    display: block;
    margin: auto;
    margin-top:20px;
}


#con7{
    width: 100%;
    height:800px;
    margin-top:150px;
    border:1px solid #f8f8f8;;
    background-color: #f8f8f8;;
}
#inner4{
    width:75%;
    height:490px;
    margin: auto;
    margin-top:50px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     border-radius:10px;
     display: grid;
     grid-template-columns:repeat(2, 1fr);
     grid-template-rows:repeat(1,100%);
     gap:20px;
}
.in4img{
    width:75%;
    margin: auto;
    margin-top:200px;
}
.colm{
    width:10%;
    margin-top:40px;
    opacity:0.5;
    position: absolute;
}
.b2{
    display: block;
    margin: auto;
    margin-top:50px;
}
.b2:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.cont{
    display: block;
    margin: auto;
}
.cont:hover{
    color: chocolate;
}
#foo{
    background-color: #4f4e53;
}