@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
    --color-grey-1: #363538;
    --accent-color: rgb(255, 118, 63);
}





.terms_container{
    width: 85%;
    height: 100vh;
    margin: auto;
}

li{
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
}
.terms_makeitbold{
    font-weight: bolder;
    color: rgb(86, 83, 83);
    
}
p{
    font-family: 'Open Sans', sans-serif;
    color: rgb(64, 61, 61);
}
#terms_intro{
    font-style: italic;
}